@using OnlineBorrow1.Models;
@model Paging
@{
    List<Advice> curr_page_data = (List<Advice>)Model.curr_page_data;
    ViewBag.Title = "留言板";
    
}

<link href="@Url.Content("~/assets/bootstrap/css/bootstrap.css")" rel="stylesheet">
<link href="@Url.Content("~/assets/css/style_advice.css")" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="@Url.Content("~/assets/css/chocolat.css")"type="text/css">

<div class="container" style="background-color: white">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <img src ="@Url.Content("~/Images/advice.jpg")"  style="width:100%" />
            @{
                int prePageId = (Model.curr_page_index > 1) ? Model.curr_page_index - 1 : 1;
                int nextPageId = (Model.curr_page_index < Model.sum_pages) ? Model.curr_page_index + 1 : Model.sum_pages;
            }
            <ul class="pagination">
                <li>
                    <a href="@Url.Content("~/Advice/Advice?pages = 1")">首页</a>
                </li>
                <li>
                    <a href="@Url.Content("~/Advice/Advice?@pages=" + prePageId)">上一页</a>
                </li>
                @for (int i = Model.start_page_index; i <= Model.end_page_index; i++)
                {
                    if (Model.curr_page_index == i)
                    {
                    <li>
                        <a  href="@Url.Content("~/Advice/Advice?&pages=" + i)" style="color:black;"><strong>@i</strong></a>
                    </li>
                    }
                    else
                    {
                         <li>
                        <a  href="@Url.Content("~/Advice/Advice?&pages=" + i)"><strong>@i</strong></a>
                    </li>
                    }
                }
                <li>
                    <a href="@Url.Content("~/Advice/Advice?&pages=" + nextPageId)">下一页</a>
                </li>
                <li>
                    <a href="@Url.Content("~/Advice/Advice?&pages=" + Model.sum_pages)">末页</a>
                </li>
                <li>
                    <span>@Model.curr_page_index/@Model.sum_pages<span>页</span></span>
                </li>
            </ul>

            @{
                Advice[] AdviceArray = curr_page_data.ToArray();
                int j = 1;
                for (int i = 0; i < curr_page_data.Count(); i++)
                {
                <table class="table table-bordered">
                    <tbody>
                        @if (Model == null || curr_page_data.Count() == 0)
                        {
                            <tr>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd">
                                    <p>还没有任何留言，快来抢车位吧。 <span style="float: right">2016.10.17</span></p>

                                </td>
                            </tr>
                        }

                        <tr>
                            <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd">
                                <p>@(j++)# <span style="float: right">@AdviceArray[i].time</span></p>
                                <p><b>姓名：</b>@AdviceArray[i].name</p>
                                <p><b>内容：</b>@AdviceArray[i].内容</p>
                            </td>
                        </tr>
                        <!--
                       
                            -->

                    </tbody>
                </table>
                
                }
            }
        </div>
    </div>
</div>

<div id="contact" class="get-in-touch">
    <div class="container" style="background-color: white">
        <div class="get-info text-center">
            <h3>建议</h3>
        </div>
    </div>
</div>

<div class="contact-us">
    <div class="container" style="background-color: white">

        <div class="col-md-12 column">
            <div class="contact-info">
                <form action="@Url.Content("~/Advice/SaveAdvice")" method="post">
                    <input type="text" name="name" id="name" placeholder="Your Name" required>
                    <input type="text" name="phone" id="phone" placeholder="Your Phone" required>
                    <input type="text" name="title" id="title" placeholder="Your Title" required>
                    <textarea name="content" id="content" placeholder="Your Message" required></textarea>
                    <input type="submit" value="发送">
                </form>
            </div>
        </div>
    </div>
</div>


