@model IEnumerable<OnlineBorrow1.Models.borrowInformation>
@{
    ViewBag.Title = "主页";
}


<link href="@Url.Content("~/assets/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" media="all">
<link href="@Url.Content("~/assets/css/style_main.css")" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<div class="welcome" style="padding-left:0;padding-right:0;margin-left:0;margin-right:0;margin-top:0px;padding-top:0px;width:100%;">
    <div class="container" >
        <h3 style="color:black">欢迎访问</h3>
        <div class="welcome-grids">
            <a href ="@Url.Content("~/borrowInformation/request")" target="_blank">
                <div class="col-md-4 welcome-grid">
                    <div class="wel1 hvr-bounce-to-bottom">
                        <i class="icon-edit icon-4x"></i>
                        <h4 style="color:white; margin-top:10px;">实验室借用</h4>
                       <p><q>从实验中获得知识,知识就是力量 </q>—— 培根 </p>
                    </div>
                </div>
            </a>
            <a href ="@Url.Content("~/Schedule/schedule")" target="_blank">
                <div class="col-md-4 welcome-grid">
                    <div class="wel2 hvr-bounce-to-bottom">
                         <i class="icon-calendar icon-4x"></i>
                        <h4 style="color:white;margin-top:10px;">课表查询</h4>
                       <p><q>合理安排时间，就等于节约时间。</q>—— 培根</p>
                    </div>
                </div>
            </a>
            <a href ="@Url.Content("~/Advice/advice")" target="_blank">
                <div class="col-md-4 welcome-grid">
                    <div class="wel3 hvr-bounce-to-bottom">
                       <i class="icon-comments-alt icon-4x"></i>
                        <h4 style="color:white;margin-top:10px;">意见和建议</h4>
                        <p><q>良药苦口利于病，忠言逆耳利于行 </q>——《论语》</p>
                    </div>
                </div>
            </a>
            <div class="clearfix"></div>
            <br />
        </div>
    </div>
</div>
