@using OnlineBorrow1.Models;

@model Paging
@{
    List<borrowInformation> curr_page_data = (List<borrowInformation>)Model.curr_page_data;
    ViewBag.Title = "申请审核的状态";
    //int borrow_type_id = curr_page_data.First().informationCategory;
    HttpCookie CurrCookie = Request.Cookies["type_id"];
    int NUM = Convert.ToInt32(CurrCookie.Value);
   
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />


<link href="@Url.Content("~/assets/bootstrap/css/bootstrap.css")" rel="stylesheet">
<link href="@Url.Content("~/assets/css/style_advice.css")" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="@Url.Content("~/assets/css/chocolat.css")"type="text/css">


<div class="container" style="background-color: white">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron" style="margin-top: 0px">
                <h1>温馨提示！！！
                </h1>
                <p>
                    请在机房使用完后,桌椅恢复原位,做好机房的卫生工作
                </p>
            </div>



            <ul class="pagination" style="float: left; margin-top: 0px; padding-top: 0px;">
                <li>
                    <a href="~/borrowInformation/requestCondition?informationCategory=2">我的全部申请</a>
                </li>
                <li>
                    <a href="~/borrowInformation/requestCondition?informationCategory=0">还未审核</a>
                </li>
                <li>
                    <a href="~/borrowInformation/requestCondition?informationCategory=1">审核通过</a>
                </li>               
            </ul>


            <table class="table table-bordered">
                <tr>

                    <th class="col-md-1" style="text-align: center;">
                        <b>单位名称</b>
                    </th>
                    <th class="col-md-1" style="text-align: center;">
                        <b>借用人</b>
                    </th>
                    <th class="col-md-1" style="text-align: center;">
                        <b>借用人身份</b>
                    </th>
                    <th class="col-md-1" style="text-align: center;">
                        <b>借用机房</b>
                    </th>
                    <th class="col-md-2" style="text-align: center;">
                        <b>用途</b>
                    </th>
                    <th class="col-md-2" style="text-align: center;">
                        <b>提交时间</b>
                    </th>
                    <th class="col-md-2" style="text-align: center;">
                        <b>审核状态</b>
                    </th>
                    <th class="col-md-1" style="text-align: center;">
                        <b>能否打印</b>
                    </th>

                </tr>

                @{
                    borrowInformation[] borrowInformationArray = curr_page_data.ToArray();
                    
                    <tbody>

                        @if (curr_page_data.Count() == 0)
                        {
                            <tr>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd" colspan="9">
                                    <p>还没有提交任何申请！！！<span style="float: right">2016.10.17</span></p>

                                </td>
                            </tr>
                        }

                        else
                        {
                            for (int i = 0; i < curr_page_data.Count(); i++)
                    {
                            if (borrowInformationArray[i].informationCategory == 0)
                            {
                            <tr class="warning">

                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <div style="padding-top: 5px">
                                        <p>@borrowInformationArray[i].单位名称</p>
                                    </div>
                                </td>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <div style="padding-top: 5px">
                                        <p>@borrowInformationArray[i].借用人</p>
                                    </div>
                                </td>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <div style="padding-top: 5px">
                                        <p>@borrowInformationArray[i].借用人身份</p>
                                    </div>
                                </td>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <div style="padding-top: 5px">
                                        <p>@borrowInformationArray[i].借用机房</p>
                                    </div>
                                </td>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <div style="padding-top: 5px">
                                        <p>

                                            @if (borrowInformationArray[i].用途 != null)
                                            {
                                                @borrowInformationArray[i].用途
                                            }
                                            else
                                            {
                                                @borrowInformationArray[i].其它
                                            }
                                        </p>
                                    </div>
                                </td>

                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <p><span style="float: right">@borrowInformationArray[i].提交时间</span></p>
                                </td>

                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    @if (borrowInformationArray[i].informationCategory == 0)
                                    {
                                        <a href="#">还未审核</a>
                                    }
                                    else
                                    {
                                        <a href="#">审核通过</a>
                                    }
                                </td>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    @if (borrowInformationArray[i].informationCategory == 0)
                                    {
                                        <p>不能打印</p>
                                    }
                                    else
                                    {
                                        <a href="~/Print/print?information_id=@borrowInformationArray[i].information_id" target="_blank">可以打印</a>
                                    }
                                </td>
                            </tr>
                            }
                            else
                            {
                            <tr class="success">

                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <div style="padding-top: 5px">
                                        <p>@borrowInformationArray[i].单位名称</p>
                                    </div>
                                </td>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <div style="padding-top: 5px">
                                        <p>@borrowInformationArray[i].借用人</p>
                                    </div>
                                </td>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <div style="padding-top: 5px">
                                        <p>@borrowInformationArray[i].借用人身份</p>
                                    </div>
                                </td>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <div style="padding-top: 5px">
                                        <p>@borrowInformationArray[i].借用机房</p>
                                    </div>
                                </td>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <div style="padding-top: 5px">
                                        <p>

                                            @if (borrowInformationArray[i].用途 != null)
                                            {
                                                @borrowInformationArray[i].用途
                                            }
                                            else
                                            {
                                                @borrowInformationArray[i].其它
                                            }
                                        </p>
                                    </div>
                                </td>

                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    <p><span style="float: right">@borrowInformationArray[i].提交时间</span></p>
                                </td>

                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    @if (borrowInformationArray[i].informationCategory == 0)
                                    {
                                        <a href="#">还未审核</a>
                                    }
                                    else
                                    {
                                        <a href="#">审核通过</a>
                                    }
                                </td>
                                <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                    @if (borrowInformationArray[i].informationCategory == 0)
                                    {
                                        <p>不能打印</p>
                                    }
                                    else
                                    {
                                        <a href="~/Print/print?information_id=@borrowInformationArray[i].information_id" target="_blank">可以打印</a>
                                    }
                                </td>
                            </tr>
                            }

                        }

                          }
                    </tbody>
                  
                }
            </table>


            @{
                int prePageId = (Model.curr_page_index > 1) ? Model.curr_page_index - 1 : 1;
                int nextPageId = (Model.curr_page_index < Model.sum_pages) ? Model.curr_page_index + 1 : Model.sum_pages;
            }
            <ul class="pagination ">
                <li>
                    <a href="@Url.Content("~/borrowInformation/requestCondition?&informationCategory=" + NUM + "&pages = 1")">首页</a>
                </li>
                <li>
                    <a href="@Url.Content("~/borrowInformation/requestCondition?&informationCategory=" + NUM + "&pages=" + prePageId)">上一页</a>
                </li>
                @for (int i = Model.start_page_index; i <= Model.end_page_index; i++)
                {
                    if (Model.curr_page_index == i)
                    {
                         <li>
                             <a  href="@Url.Content("~/borrowInformation/requestCondition?&informationCategory=" + NUM + "&pages=" + i)" style="color:black;"><strong>@i</strong></a>
                         </li>
                    }
                    else
                    {
                        <li>
                             <a  href="@Url.Content("~/borrowInformation/requestCondition?&informationCategory=" + NUM + "&pages=" + i)"><strong>@i</strong></a>
                         </li>
                    }
                }
                <li>
                    <a href="@Url.Content("~/borrowInformation/requestCondition?&informationCategory=" + NUM + "&pages=" + nextPageId)">下一页</a>
                </li>
                <li>
                    <a href="@Url.Content("~/borrowInformation/requestCondition?&informationCategory=" + NUM + "&pages=" + Model.sum_pages)">末页</a>
                </li>
                <li>
                    <span>@Model.curr_page_index/@Model.sum_pages<span>页</span></span>
                </li>
            </ul>

        </div>
    </div>
</div>
