<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="@Url.Content("~/Font-Awesome-3.2.1/Font-Awesome-3.2.1/css/font-awesome.min.css")">
    <link rel="shortcut icon" href="~/Images/title_logo.png">
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function () {

            /* 	1st example	*/

            /// wrap inner content of each anchor with first layer and append background layer
            $("#menu1 li a").wrapInner('<span class="out"></span>').append('<span class="bg"></span>');

            // loop each anchor and add copy of text content
            $("#menu1 li a").each(function () {
                $('<span class="over">' + $(this).text() + '</span>').appendTo(this);
            });

            $("#menu1 li a").hover(function () {
                // this function is fired when the mouse is moved over
                $(".out", this).stop().animate({ 'top': '40px' }, 250); // move down - hide
                $(".over", this).stop().animate({ 'top': '0px' }, 250); // move down - show
                $(".bg", this).stop().animate({ 'top': '0px' }, 120); // move down - show

            }, function () {
                // this function is fired when the mouse is moved off
                $(".out", this).stop().animate({ 'top': '0px' }, 250); // move up - show
                $(".over", this).stop().animate({ 'top': '-40px' }, 250); // move up - hide
                $(".bg", this).stop().animate({ 'top': '-40px' }, 120); // move up - hide
            });

            /*	2nd example	*/

            $("#menu2 li a").wrapInner('<span class="out"></span>');

            $("#menu2 li a").each(function () {
                $('<span class="over">' + $(this).text() + '</span>').appendTo(this);
            });

            $("#menu2 li a").hover(function () {
                $(".out", this).stop().animate({ 'top': '40px' }, 300); // move down - hide
                $(".over", this).stop().animate({ 'top': '0px' }, 300); // move down - show

            }, function () {
                $(".out", this).stop().animate({ 'top': '0px' }, 300); // move up - show
                $(".over", this).stop().animate({ 'top': '-40px' }, 300); // move up - hide
            });
        });
    </script>
</head>
<body style="background-color: white">
    <div class="container" style="width: 100%; margin: 0px; padding: 0px;">
        <div class="row clearfix" style="padding-right: 0px; margin-right: 0px;">
            <div class="col-md-12 column">
                <div class="row clearfix" style="background-color: rgb(26, 86, 149);">
                    <div class="col-md-2 column">
                        <div class="logo">
                            <img alt="140x140" src="/Images/logo.png" style="float: left" />
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div style="padding-top: 10px">
                            @{
                                string idenName = HttpContext.Current.User.Identity.Name;
                                if (idenName != "admin")
                                {

                                <a href="@Url.Content("~/borrowInformation/Index")">
                                    <img src="/Images/logo_1.png" /></a>
                                }
                                if (idenName == "admin")
                                {
                                <a href="@Url.Content("~/Check/inforCheck")">
                                    <img src="/Images/logo_1.png" /></a>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-3 column">
                    </div>
                    <div class="col-md-3 column">
                        <div class="xiaoxun">
                            <br />
                            <img alt="140x140" src="/Images/xiaoxun.png" style="float: right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="menu2" class="menu" style="width: 100%;">
            @if (idenName != "admin")
            {
                <ul>
                    <li><a href="~/borrowInformation/Index">首　　页</a></li>
                    <li><a href="~/borrowInformation/request">实验室借用</a></li>
                    <li><a href="~/Schedule/schedule">课表查询</a></li>
                    <li><a href="~/Advice/Advice">意见和建议</a></li>
                </ul>
                <ul class="nav navbar-right">
                    <li style="color: white; font-size: 18.7px;">欢迎用户，<span>@idenName </span></li>
                    <li><a href="@Url.Content("~/borrowInformation/requestCondition")" >申请状态</a></li>
                    <li><a href="@Url.Content("~/User/passwordChanged")" >修改密码</a></li>
                    <li><a href="@Url.Content("~/User/LoginOut")" >退     出</a></li>
                </ul>
            }
            else
            {
                <ul>
                    <li><a href="~/Check/inforCheck">首　　页</a></li>
                    <li><a href="~/UserAccount/Index">用户管理</a></li>
                    <li><a href="~/ScheduleAddOrUpdate/Index">课表管理</a></li>
                    <li><a href="~/Advice/Advice">意见和建议</a></li>
                </ul>
                <ul class="nav navbar-right">
                    <li style="color: white; font-size: 18.7px;">管理员：<span>@idenName </span></li>
                    <li><a href="@Url.Content("~/User/passwordChanged")" >修改密码</a></li>
                    <li><a href="@Url.Content("~/User/LoginOut")" >退     出</a></li>
                </ul>
            }
            <div class="cls"></div>
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <div class="container" style="width: 100%; margin: 0px; padding: 0px;">
        <div class="row clearfix" style="padding-right: 0px; margin-right: 0px;">
            <div class="col-md-12 column">
                <div id="footer">
                    <div class="row clearfix">
                        <div class="col-md-12 column" style="padding: 0">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" style="background-color: rgb(87, 85, 85); padding-top: 10px">
                                    <p style="font-size: 18px; text-align: center; color: white; margin-bottom: 10px">Copyright &copy青海大学计算机系版权所有</p>
                                    <p style="font-size: 18px; text-align: center; color: white; margin-bottom: 10px">联系电话: 0971-5310365. 邮箱: 793940415@qq.com</p>
                                    <p style="font-size: 18px; text-align: center; color: white; margin-bottom: 10px">网站设计: 青海大学计算机系</p>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
