@model IEnumerable<OnlineBorrow1.Models.User>

@{
    ViewBag.Title = "Index";
}

<style>
    td { 
        border:1px solid black;
    }
    </style>
<div class="container" style="background-color: white">
    <div class="row clearfix">

        <div class="col-md-6 column" style="float:initial">

            <h2>
                @Html.ActionLink("新用户添加", "Create")
            </h2>
            <table class="table table-bordered">
                <tr>

                    <th class="col-md-1" style="text-align: center;">
                        用户名
                    </th>
                    <th class="col-md-1" style="text-align: center;">
                        密码
                    </th>
                    <th style="text-align:center;">
                        操作项
                    </th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                {
                    <tr>
                        <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                <div style="padding-top: 5px">
                                    @Html.DisplayFor(modelItem => item.username)
                                </div>
                            </td>
                        <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                <div style="padding-top: 5px">
                                     @Html.DisplayFor(modelItem => item.password)
                                </div>
                            </td>
                        <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                <div style="padding-top: 5px">
                                    @Html.ActionLink("修改", "Edit", new { id = item.user_id }) |
                             @Html.ActionLink("详情", "Details", new { id = item.user_id }) |
                            @Html.ActionLink("删除", "Delete", new { id = item.user_id })
                                </div>
                            </td>
                        
                    </tr>
                }
                     
                   
                </tbody>
            </table>

            <table style="border: 1px solid black">
                <tr>
                    <th>
                        
                    </th>
                    <th>
                       
                    </th>
                    <th></th>
                </tr>

                

            </table>
        </div>
    </div>
</div>
