@using OnlineBorrow1.Models;


@model Paging
@{
    List<User> curr_page_data = (List<User>)Model.curr_page_data;
    ViewBag.Title = "用户管理";
}

<style>
    td { border: 1px solid black; }
</style>
<div class="container" style="background-color: white">
    <div class="row clearfix">

        <div class="col-md-7 column" style="float: initial">

            <h2>
                @Html.ActionLink("新用户添加", "Create")
            </h2>
           
            <table class="table table-bordered">
                <tr>

                    <th class="col-md-1" style="text-align: center;">用户名
                    </th>
                    <th class="col-md-1" style="text-align: center;">密码
                    </th>
                    <th style="text-align: center;">操作项
                    </th>
                </tr>
                <tbody>
                    @{
                        User[] AdviceArray = curr_page_data.ToArray();
                        //int j = 1;
                        for (int i = 0; i < curr_page_data.Count(); i++)
                        {
                
                        <tr>
                            <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                <div class="col-md-4 column" style="padding-top: 5px">
                                    @AdviceArray[i].username
                                </div>
                            </td>
                            <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                <div class="col-md-4 column" style="padding-top: 5px">
                                    @AdviceArray[i].password
                                </div>
                            </td>
                            <td style="padding-bottom: 10px; padding-top: 10px; border-bottom: 2px dashed #ddd; text-align: center">
                                <div class="col-md-4 column" style="padding-top: 5px">
                                    @Html.ActionLink("修改", "Edit", new { id = AdviceArray[i].user_id }) |
                                    @Html.ActionLink("删除", "Delete", new { id = AdviceArray[i].user_id })
                                </div>
                            </td>

                        </tr>
                        }
                    }


                </tbody>
            </table>
            <div class="center-block" style="width:70%;">
             @{
                int prePageId = (Model.curr_page_index > 1) ? Model.curr_page_index - 1 : 1;
                int nextPageId = (Model.curr_page_index < Model.sum_pages) ? Model.curr_page_index + 1 : Model.sum_pages;
            }
            <ul class="pagination ">
                <li>
                    <a href="@Url.Content("~/UserAccount/Index?pages = 1")">首页</a>
                </li>
                <li>
                    <a href="@Url.Content("~/UserAccount/Index?&pages=" + prePageId)">上一页</a>
                </li>
                @for (int i = Model.start_page_index; i <= Model.end_page_index; i++)
                {
                    if (Model.curr_page_index == i)
                    {
                    <li>
                        <a  href="@Url.Content("~/UserAccount/Index?&pages=" + i)" style="color:black;"><strong>@i</strong></a>
                    </li>
                    }
                    else
                    {
                    <li>
                        <a  href="@Url.Content("~/UserAccount/Index?&pages=" + i)"><strong>@i</strong></a>
                    </li>
                    }
                }
                <li>
                    <a href="@Url.Content("~/UserAccount/Index?&pages=" + nextPageId)">下一页</a>
                </li>
                <li>
                    <a href="@Url.Content("~/UserAccount/Index?&pages=" + Model.sum_pages)">末页</a>
                </li>
                <li>
                    <span>@Model.curr_page_index/@Model.sum_pages<span>页</span></span>
                </li>
            </ul>
                </div>
        </div>
    </div>
</div>
